body{
    margin: 0;
    display: grid;
    grid-template-areas: 'navbar navbar navbar navbar'
                        'header section aside div'
                        'footer footer footer footer';
grid-template-rows: 20vh 70vh 40vh;
grid-gap: 0px;
}
nav{
    align-items: center;
    background-color: rgb(235, 78, 78);
    display: flex;
    grid-area: navbar;
    justify-content: space-around;
}


img{
    cursor: pointer;
    display: none;
    height: 50px;
}

header{
    grid-area: header;
    background-color: limegreen;
}

section{
    grid-area: section;
    background-color: aquamarine;
    }

aside{
    grid-area: aside;
    background-color: orange;
}

div{
    background-color: tomato;
    grid-area: div;
}

footer{
    grid-area: footer;
    background-color: magenta;
}

@media(max-width:769px){
    body{
        grid-template-areas: 'navbar navbar navbar navbar'
                            'header headersection section '
                            'aside aside div div'
                            'footer footer footer footer';
grid-template-rows: 20vh 30vh 70vh 40vh;
grid-gap: 0px;                           

}
   
    nav a{
        display: none;
    }

    nav img{
       display: block;
    }
}


@media(max-width:475px){
    body{
        grid-template-areas: 'navbar navbar navbar navbar'
                            'header header header header'
                            'section section section section'
                            'aside aside aside aside'
                            'div div div div'
                            'footer footer footer footer';
grid-template-rows: 20vh 50vh 50vh 50vh 40vh;
}
}

    
